@import "../utils/parameters";

.footer {
    background: #23242C;
    padding: 13rem 0 13rem 4rem;
    &__row {

    }

    &__blocks {
        display: flex;
        flex-wrap: wrap;
    }

    &__img {
        width: 50%;
        padding-top: 1rem;
    }

    &__logo::before {
        content: '';
        width: 0.9rem;
        height: 0.9rem;
        background: url("../imgs/img5.svg");
        top: -3.4rem;
        left: -2.1rem;
        position: absolute;
    }

    &__title::before {
        content: '';
        width: 0.9rem;
        height: 0.9rem;
        background: url("../imgs/img5.svg");
        top: 1rem;
        left: -2.3rem;
        position: absolute;
    }
    
    &__logo {
        position: relative;
    }

    &__text {
        max-width: 30rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.78;
        color: #FFFFFF;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding: 0.4rem 0 0 4.4rem;
    }

    &__block {
        margin-left: 12.4rem;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 1.33;
        color: #FAF7F3;
        position: relative;
        margin-bottom: 1rem;
    }

    &__ul {

    }

    &__li {
        margin-bottom: 1rem;
    }

    &__a {
        font-size: 1.6rem;
        line-height: 2;
        color: #FFFFFF;
    }

    &__a:hover {
        color: $c-text2;
    }

    &__description {
        padding-left: 0.5rem;
        font-size: 1.6rem;
        line-height: 2;
        color: rgba(255, 255, 255, 0.5);
    }
}

.logo2 {
    fill: #fff;
    width: 24.6rem;
    height: 2.4rem;
    margin-bottom: 3rem;
}

.logo2:hover {
    fill: $c-text2;
}

@media screen and (max-width: $md) {
    .footer {
        padding: 13rem 0 9rem 0rem;
        &__img {
            width: 40%;
            padding-top: 1rem;
        }

        &__links {
            width: 60%;
            justify-content: center;
            padding: 0.4rem 0 0 0rem;
        }

        &__block {
            margin: 0 3rem;
        }
    }
}

@media screen and (max-width: $sm) {
    .footer {
        padding: 13rem 0 5rem 0rem;
        &__img {
            justify-content: center;
            width: 100%;
            text-align: center;
            padding-top: 0rem;
        }

        &__links {
            width: 100%;
            justify-content: center;
            padding: 0.4rem 0 0 0rem;
        }

        &__block {
            margin: 0 4rem 3rem 4rem;
        }

        &__text {
            margin: 0 auto;
            margin-bottom: 5rem;
            max-width: 55rem;
        }
    }
}

@media screen and (max-width: $xs) {
    .footer {
        padding: 10rem 0 5rem 0rem;
    }
}