@import "../utils/parameters";

@keyframes bt {
    from {opacity: 1;}
    50% {opacity: 0;}
    to {opacity: 1;}
}

.hatters-section {
    border-top: 2px solid #EDEDED;

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding-top: 13.8rem;
        margin-bottom: 25rem;
    }

    &__content {
        padding: 6.4rem 0 0 0;
    }

    &__description {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: $c-text2;
        padding-left: 0.3rem;
    }

    &__title {
        font-family: 'Playfair Display', sans-serif;
        font-weight: bold;
        font-size: 10.2rem;
        line-height: 1.08;
        color: $c-text;
        max-width: 71.8rem;
        margin-bottom: 3.6rem;

        sup, sub, span {
            font-size: 4.352rem;
            line-height: 40%;
        }

        span {
            vertical-align: middle;
        }
    }

    &__buttons {
        position: relative; 
        display: inline-block; 
    }

    &__button {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        color: $c-text2;
        background: #FFFFFF;
        border: 0.1rem solid #CFADAC;
        box-sizing: border-box;
        border-radius: 0.6rem;
        padding: 1.7rem 4.8rem;
        display: inline-block;
        background: #FFFFFF;
        transition: transform 1s linear;
    }

    &__button:hover {
        transform: scale(1.1, 1.1);
    }

    &__block {
        width: 16rem;
        height: 3.2rem;
        box-shadow: 0px 8px 34px rgba(150, 79, 76, 0.32);
        border-radius: 6px;
        z-index: -1;
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-block;
    }

    &__block {
        animation: bt 2s infinite linear;
    }

    &__imgs {
        position: relative;
    }

    &__img1 {
        max-width: 25.6rem;
    }

    &__img2 {
        max-width: 22.1rem;
        position: absolute;
        bottom: -3.7rem;
        right: -10.7rem;
        z-index: -1;
    }

    &__circle1 {
        position: absolute;
        bottom: -0.5rem;
        left: -11.3rem;
        z-index: -1;
        width: 24.6rem;
        height: 24.6rem;
        border-radius: 50rem;
        background: rgba(250, 226, 214, 0.4);
    }

    &__circle2 {
        position: absolute;
        bottom: -15.2rem;
        left: -24rem;
        z-index: -2;
        width: 51.8rem;
        height: 51.8rem;
        border-radius: 50rem;
        border: 1px solid rgba(35, 36, 44, 0.1);
        box-sizing: border-box;
    }
}

@media screen and (max-width: $md) {
    .hatters-section {
    
        &__content {
            width: 100%;
            text-align: center;
            margin-bottom: 10rem;
        }

        &__title {
            margin: 0 auto;
            margin-bottom: 3rem;
            font-size: 9.6rem;
        }

        &__imgs {
            margin: 0 auto;
        }

        &__description {
            margin-bottom: 3rem;
        }

        &__row {
            padding-top: 10rem;
        }
    }
}

@media screen and (max-width: $md) {
    .hatters-section {

        &__title {
            font-size: 7rem;
        }
    }
}

@media screen and (max-width: $xs) {
    .hatters-section {

        &__img2 {
            bottom: -26.7rem;
            right: 2.3rem;
        }

        &__title {
            font-size: 5rem;
        }

        &__row {
            padding-top: 3rem;
            margin-bottom: 30rem;
        }
    }
}