@import "../utils/parameters";

.headwear-section {
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 22rem;
    }

    &__img-row {
        width: 50%;
        padding-top: 1rem;
    }

    &__img {
    }

    &__text {
        width: 50%;
        padding-left: 8rem;
    }

    &__description {
        margin-bottom: 1rem;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $c-text2;
    }

    &__title {
        max-width: 46rem;
        margin-bottom: 4.3rem;
        font-family: 'Playfair Display', sans-serif;
        font-weight: bold;
        font-size: 10.2rem;
        line-height: 1.08;
        color: $c-text;
    }
}

@media screen and (max-width: $md) {
    .headwear-section {
    
        &__img-row {
            width: 100%;
            padding-top: 0rem;
            margin-bottom: 5rem;
            text-align: center;
        }

        &__text {
            width: 100%;
            padding-left: 0rem;
            text-align: center;
        }

        &__title {
            margin: 0 auto;
            max-width: 70rem;
            margin-bottom: 4rem;
            font-size: 9rem;
        }
    }
}

@media screen and (max-width: $sm) {
    .headwear-section {
        &__title {
            font-size: 8.4rem;
        }

        &__img {
            max-width: 77vw;
        }
    }
}

@media screen and (max-width: $xs) {
    .headwear-section {
        &__title {
            font-size: 6.5rem;
        }
    }
}