// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../utils/parameters";
@import "../utils/mixins";

.header {
    position: relative;
    &__row {
        padding-top: 6.7rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    &__row::before {
        content: '';
        width: 0.9rem;
        height: 0.9rem;
        background: url("../imgs/img1.svg");
        top: 2.7rem;
        left: 0;
        right: 0;
        position: absolute;
        margin: 0 auto;
    }

    &__links {
        
    }

    &__ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__li {
        
    }

    &__a {
        font-size: 1.6rem;
        line-height: 2;
        color: $c-text;
        margin: 0 3.3rem;
    }
}

.logo {
    height: 3rem;
    margin-bottom: 2.3rem;
}

.logo:hover {
    fill: $c-text2;
}

@media screen and (max-width: $xs) {
    .logo {
        max-width: 60vw;
    }
}