@import "../utils/parameters";

.list-section {

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 18.3rem;
        padding: 0 2.3rem;
    }

    &__blocks {
        position: relative;
    }

    &__blocks::before {
        content: '';
        width: 0.9rem;
        height: 0.9rem;
        background: url("../imgs/img4.svg");
        top: 2rem;
        left: 0;
        position: absolute;
    }

    &__title {
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-size: 3.8rem;
        line-height: 5.1rem;
        color: #111111;
        margin-bottom: 3.2rem;
        padding-left: 2.1rem;
    }

    &__description {
        font-size: 1.6rem;
        line-height: 1.659;
        color: #9D8888;
        max-width: 23rem;
        margin-left: 6.1rem;
    }
}

@media screen and (max-width: $md) {
    .list-section {
        
        &__row {
        justify-content: center;
        }

        &__blocks {
            margin: 1rem 2rem;
        }
    }
}

@media screen and (max-width: $sm) {
    .list-section {

        &__blocks {
            text-align: center;
        }

        &__title {
            padding-left: 0rem;
        }

        &__description {
            margin-left: 0rem;
        }

        &__blocks::before {
            left: 4rem;
        }
    }
}