@import "../utils/parameters";

.our-range-section {

    &__row {
        margin-bottom: 42rem;
    }

    &__description {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        color: $c-text2;
        margin-bottom: 1rem;
    }

    &__title {
        font-family: 'Playfair Display', sans-serif;
        font-weight: bold;
        font-size: 10.2rem;
        line-height: 1.08;
        text-align: center;
        margin-bottom: 12.5rem;
    }

    &__imgs-text {
        padding: 0 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 3.5rem;
    }

    &__block {

    }

    &__imgs-row {

    }

    &__img {
    }

    &__text-block {
        background: $c-primary;
        padding: 1.7rem 0 4rem;
        text-align: center;
    }

    &__imgs-title {
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-size: 4.8rem;
        line-height: 6.4rem;
        color: $c-text2;
        margin-bottom: 1rem;
    }

    &__imgs-description {
        font-size: 1.6rem;
        line-height: 1.659;
        color: $c-text2;
        max-width: 36rem;
        margin: 0 auto;
    }

    &__margin {
        margin-top: 8.3rem;
    }

    &__show-more {
        display: flex;
        position: relative;
        margin-bottom: 3rem;
        padding: 0 2rem 0 3rem;
        justify-content: space-between;
    }

    &__hr {
        margin-bottom: 1.7rem;
        width: 30.3vw;
        opacity: 0.6;
        border-bottom: 0.1rem solid #967675;
    }

    &__text-more {

    }

    &__text-more-a {
        font-family: 'Playfair Display', sans-serif;
        font-weight: 900;
        font-size: 3.68465rem;
        line-height: 4.9rem;
        color: $c-text;
    }

    &__title-more {
        position: absolute;
        top: -11rem;
        left: 0;
        right: 0;
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
        font-weight: bold;
        font-size: 18.238rem;
        line-height: 24.3rem;
        color: $c-text;
        opacity: 0.04;
        z-index: -1;
    }
}

@media screen and (max-width: $md) {
    .our-range-section {
    
        &__imgs-text {
            justify-content: center;
            margin-bottom: 8rem;
        }

        &__block {
            margin: 1rem 2rem;
        }

        &__margin {
            margin-top: 0rem;
        }

        &__title {
            font-size: 9rem;
        }

        &__title-more {
            font-size: 17rem;
        }
    }
}

@media screen and (max-width: $sm) {
    .our-range-section {
        &__img {
            max-width: 66.53vw;
        }

        &__title {
            font-size: 8.4rem;
        }

        &__hr {
            width: 24vw;
        }

        &__title-more {
            font-size: 16rem;
        }
    }
}

@media screen and (max-width: $xs) {
    .our-range-section {
        &__text-block {
            max-width: 66.53vw;
        }

        &__title {
            font-size: 7rem;
        }

        &__hr {
            width: 0rem;
        }

        &__title-more {
            font-size: 12rem;
        }
    }
}