@import "../utils/parameters";

@keyframes circl {
    from {box-shadow: 0px 0px 64px rgba(237,213,200, 1);}
    50% {box-shadow: 0px 0px 64px rgba(237,213,200, 0);}
    to {box-shadow: 0px 0px 64px rgba(237,213,200, 1);}
}

.quote-section {

    &__row {
        text-align: center;
        margin-bottom: 32.4rem;
    }

    &__title {
        position: relative;
        font-family: 'Playfair Display', sans-serif;
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 6.4rem;
        color: $c-text;
    }

    &__img1 {
        position: absolute;
        top: -3rem;
        left: 15rem;
        z-index: -1;
    }

    &__img2 {
        position: absolute;
        bottom: -3rem;
        right: 14.5rem;
        z-index: -1;
    }

    &__circle1 {
        width: 51.8rem;
        height: 51.8rem;
        border-radius: 50rem;
        background: #FFFFFF;
        border: 0.1rem solid #EDD5C8;
        box-sizing: border-box;
        position: absolute;
        top: -23rem;
        left: 0;
        right: 0;
        z-index: -3;
        margin: 0 auto;
    }

    &__circle2 {
        width: 34.1rem;
        height: 34.1rem;
        border-radius: 50rem;
        border: 0.1rem solid #EDD5C8;
        background: #FFFFFF;
        box-shadow: 0px 0px 64px #EDD5C8;
        position: absolute;
        top: -14rem;
        left: 0;
        right: 0;
        z-index: -3;
        margin: 0 auto;
        animation: circl 2s infinite ease;
    }
}

@media screen and (max-width: $md) {
    .quote-section {
        &__img1 {
            top: -3rem;
            left: 0rem;
            z-index: -1;
        }

        .quote-section__img2 {
            position: absolute;
            bottom: -3rem;
            right: 0rem;
            z-index: -1;
        }
    }
}

@media screen and (max-width: $sm) {
    .quote-section {
            &__circle1 {
            max-width: 90vw;
            max-height: 90vw;
        }
        &__circle2 {
            max-width: 59.2vw;
            max-height: 59.2vw;
        }

        &__title {
            font-size: 4.5rem;
        }
    }
}

@media screen and (max-width: $xs) {
    .quote-section {

        &__title {
            font-size: 3rem;
        }

        &__row {
            margin-bottom: 10rem;
        }

        &__circle1 {
            top: -14rem;
            max-width: 60vw;
            max-height: 60vw;
        }

        &__circle2 {
            top: -5rem;
            max-width: 30vw;
            max-height: 30vw;
        }
    }
}