section.hatters-section
    hr.hatters-section__hr
    mixin line()
        .lines
            .lines__block-first
            .lines__block
            .lines__block
            .lines__block
            .lines__block
    //+line()
    .container.hatters-section__row
        .hatters-section__content 
            .hatters-section__description Introducing
            h1.hatters-section__title Mad hatters, 
                sup b
                span /
                sub c
                | style matters
            .hatters-section__buttons
                a.hatters-section__button(href="#") Learn more
                .hatters-section__block
        .hatters-section__imgs 
            img.hatters-section__img1(src="./assets/imgs/img2.jpg", alt="картинка")
            img.hatters-section__img2(src="./assets/imgs/img3.png", alt="картинка")
            .hatters-section__circle1 
            .hatters-section__circle2