section.hatters-section
    div.container.hatters-section__row
        div.hatters-section__content 
            div.hatters-section__description Introducing
            h1.hatters-section__title Mad hatters, 
                sup b
                span /
                sub c&nbsp;
                | style matters
            mixin btn(text)
                div.hatters-section__buttons
                    a.hatters-section__button(href="#")=text 
                    div.hatters-section__block
            +btn('Learn more')
        div.hatters-section__imgs 
            img.hatters-section__img1(src="./assets/imgs/img2.jpg", alt="картинка")
            img.hatters-section__img2(src="./assets/imgs/img3.png", alt="картинка")
            div.hatters-section__circle1 
            div.hatters-section__circle2