section.headwear-section
    div.container.headwear-section__row 
        div.headwear-section__img-row 
            img.headwear-section__img(src="./assets/imgs/img6.jpg", alt="картинка")
        div.headwear-section__text 
            div.headwear-section__description Become sexy
            div.headwear-section__title Mad love for f&#8239;ire headwear
            +btn('Learn more')