section.list-section
    div.container.list-section__row
        mixin list(title)
            div.list-section__blocks
                div.list-section__title=title
                div.list-section__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.
        +list('Brands')
        +list('Styles')
        +list('Colors')
