section.newsletter-section
    .container.newsletter-section__row 
        .newsletter-section__description Keep up-to-date on us
        .newsletter-section__title Newsletter
        .newsletter-section__email
            input.newsletter-section__input(type="email" placeholder="Enter your email")
            a.newsletter-section__a(href="#") Submit