section.newsletter-section
    div.container.newsletter-section__row 
        div.newsletter-section__description Keep up-to-date on us
        div.newsletter-section__title Newsletter
        div.newsletter-section__email
            input.newsletter-section__input(type="email" placeholder="Enter your email")
            a.newsletter-section__a(href="#") Submit