section.our-range-section
    div.container.our-range-section__row 
        div.our-range-section__description Hat’s that bring the fire
        div.our-range-section__title Our Range
        div.our-range-section__imgs-text
            mixin imgs(img, title)
                div.our-range-section__block 
                    img.our-range-section__img(src=img, alt="картинка")
                    div.our-range-section__text-block
                        div.our-range-section__imgs-title=title 
                        div.our-range-section__imgs-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum.
            +imgs('./assets/imgs/img7.png','The pretender')
            div.our-range-section__margin
                +imgs('./assets/imgs/img8.png','The influencer')
            +imgs('./assets/imgs/img9.png','The andy cap')
            div.our-range-section__margin
                +imgs('./assets/imgs/img10.png','The traveller')
        div.our-range-section__show-more
            div.our-range-section__hr 
            div.our-range-section__text-more 
                a.our-range-section__text-more-a(href="#") + Show more 
            div.our-range-section__hr
            div.our-range-section__title-more More