//GRID
//точки адаптива
$md: 1200px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #F6ECE8;//основной цвет макета
$c-secondary: #F9F2EF;//дополнительный цвет макета
$c-text: #23242C;//основной цвет текста макета
$c-text2: #967675;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Poppins', sans-serif;//основной
$headers-font: 'Playfair Display', sans-serif;//для заголовков
$secondary-font: 'Poppins', sans-serif;//дополнительный
